.imgContainer {
  display: block;
  text-align: center;
  position: relative;
}

.memeAdviceText,
.memeTopText,
.memeBottomText {
  position: absolute;
  text-align: center;
  left: 50%;
  margin: 15px 0;
  padding: 0 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.memeAdviceText {
  max-width: 100%;
  top: 0;
  transform: translateX(-50%);
}

.memeTopText {
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  top: 0;
}

.memeBottomText {
  bottom: 0;
  right: 50%;
  transform: translateX(-500%);
}

.imageMeme {
  max-width: 100%;
  border-radius: 3px;
}

/*************** MEDIAS ***************/

@media only screen and (min-width: 853px) {
  .memeAdviceText,
  .memeTopText,
  .memeBottomText {
    font-size: 1.4em;
    max-width: 40%;
  }
}
