.imgContainer {
  display: block;
  text-align: center;
  position: relative;
}

.memeText {
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(54, 0, 249, 0.7);
  padding: 13px;
}
